{% extends 'main/header.html' %}

{% block content %}
    {% for p in posts %}
        <div class="row">
            {% comment %} <div class="col s12 m6"> {% endcomment %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><a href="/{{p.post_title}}">{{p.post_title}}</a></span>
                        <span style="font-size:50%">{{p.post_published}}</span>
                        <br>
                        <br>
                        <p>{{p.post_content|safe}}</p>
                    </div>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
    {% endfor %}
{% endblock %}